.revisionButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.revisionButton:hover {
    background-color: #3e8e41;
}

.revisionButton:focus {
    outline: none;                   /* Asegura que no haya borde en foco */
    box-shadow: none;                /* Elimina cualquier sombra por defecto en el foco */
    background-color: #2d572f;
}
