.listaSismos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sismoItem {
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.sismoItem:hover {
    background-color: #f0f0f0;
}

.botonVisualizarMapa{
    margin-top: 100px;
    background-color: #4CAF50;
    width: 200px;
    height:40px;
    border: none;
    
}

.botonVisualizarMapa:hover{
    background-color:#338e36;;
}